<div class="kanban-board">
    <div class="column" id="todo" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'To Do')">
        <h3>To-Do</h3>
        <div class="task" draggable="true" *ngFor="let item of filterTasks('To Do')" (dragstart)="onDragStart(item)">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
          <p>{{ item.importance}}</p>
          <button class="task-button" (click)="deleteTask(item.taskId)">Delete</button>
        </div>
    </div>
    <div class="column" id="in-progress" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'In Progress')">
        <h3>In Progress</h3>
        <div class="task" draggable="true" *ngFor="let item of filterTasks('In Progress')" (dragstart)="onDragStart(item)">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
          <p>{{ item.importance}}</p>
          <button class="task-button" (click)="deleteTask(item.taskId)">Delete</button>
        </div>
    </div>
    <div class="column" id="done" (dragover)="onDragOver($event)" (drop)="onDrop($event, 'Finished')">
        <h3>Done</h3>
        <div class="task" draggable="true" *ngFor="let item of filterTasks('Finished')" (dragstart)="onDragStart(item)">
          <h4>{{ item.name }}</h4>
          <p>{{ item.description }}</p>
          <p>{{ item.importance}}</p>
          <button class="task-button" (click)="deleteTask(item.taskId)">Delete</button>
        </div>
    </div>

</div>
<button class="add-task-button">Add New Task</button>
<div class="create-task-modal"> 
  <h2>Add New Task</h2>
  <label>Name:</label>
  <input type="text" id="name">
  <label>Description:</label>
  <input type="text">
  <label>Status:</label>
  <input type="text">
  <label>Importance:</label>
  <input type="text">
  <label>TaskId:</label>
  <input type="text">
  <button style="margin-top: 1rem;" class="task-button"(click)="addNewTask()">Create Task</button>
</div>
